body {
  font-family: "gajraj one", serif;
  letter-spacing: 2px;
}

h1 {
    text-align: center;
    opacity: 50%;
    font-size: 4em;
    margin-bottom: -100px;
    margin-top: 0;
}

h2 {
    grid-area: name;
}

.spotify {
    grid-area: spotify;

    iframe {
        width: 100%;
        border: none;
}
}

.persons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:280px;
    overflow: auto;
    gap: 3px;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}


img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
    grid-area: image;
}

article {
    display: grid;
    grid-template-areas: 
    "image"
    "name"
    "spotify";
    scroll-snap-align: center;

/* FILTER OP: */
.filter-by {

    h3 {
        margin-top: 1em;
    }

    buttons {
        margin-top: 0em;

        ul {
            margin-top: 0em;
        }
    }



    @media (min-width: 1100px) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 2em;
    }
}


/* LIKES - DISLIKES */
.like-interactie {
    display: flex;
    justify-content:center;
    gap: 0.5em; 

    @media (min-width: 810px) {
        justify-content:center;
        gap: 0.5em;
        padding: 1em;
    }

    @media (min-width: 1100px) {
        justify-content:end;
        gap: 0.5em;
        padding: 0em 15em 0em 0em;  
    }
}